---
layout: default
---

<div id="home">
  <div class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <div class="post">
      <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="author">
        <p><span class="date">{{ post.date }}</span></p>
        <span class="date">{{ post.date }}</span>
      </p>
      <div class="content">
        {{ post.content }}
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
      {% endif %}

      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next">Next</a>
      {% endif %}
    </div>
  {% endif %}
</div>