---
title: 'The Snap CI Blog'
layout: blog
---
<section id="hero-blog">
  <div class="section-wrapper">
    <div class="span-columns-8 shift-2">
      <h1>@thatsMingle</h1>
      <h2>Welcome to the Mingle blog.  We fill this space with the things we learn as we build.  You can also find information about new product and feature updates.</h2>
      <div class="benefit-icon">
        <a href="/mingle/status/"><i class="fa fa-stethoscope fa-1x"><strong> See Mingle's Uptime Status</strong></i></a>
      </div>
    </div>
  </div>
</section>

<div class="center-wrapper">
  <ul class="blog-post-list">
    {% for post in paginator.posts %}
    {% unless post.draft %}
    <li class="blog-post-list-item">
      <div class="blog-preview-text">
        <h2 class="blog-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="blog-excerpt">
          {% if post.excerpt %}
          {{ post.excerpt | textilize }}
          {% endif %}
          <a href="{{ post.url }}">Read more...</a>
        </div>
      </div>
      {% if post.index-image-url %}
      <div class="blog-image" style="background-image: url(/mingle{{ post.index-image-url }})"></div>
      {% endif %}
      <hr />
    </li>
    {% endunless %}
    {% endfor %}
  </ul>

  <div class="subscribe-form blog-index">
    <span class="subscribe-text">Want more like this?</span>
    <input type="email" autocapitalize="off" autocorrect="off" name="email" class="subscribe-email" placeholder="Your Email Address">
    <button class="button primary subscribe-submit">Subscribe!</button>
    <div class="success-message">Wahoo! Thanks for subscribing.</div>
    <div class="error-message">Oops! That doesn't look like a valid email.</div>
  </div>
</div>

<div class="banner explore">
  <div class="inner solid">
    <center>
      <h2 class="no-space">Like to know more?</h2>
      <p>Your workflow + Mingle = Awesome</p>
      <a href="/mingle" class="button dark">See more Mingle</a>
    </center>
  </div>
</div>
