---
title: 'The Snap CI Blog'
layout: default
---
<div id="hero">
  <div class="team-hero-bg">
    <h1 class="team-header">@SNAP_CI</h1>
    <h3>Our team is the rockingest set of cool and nice people you will ever meet. BTW this is placeholder text. Not because I don't love you all but because I think we can be less obnoxious.</h3>
  </div>
</div>

<div class="center-wrapper">
  <ul class="blog-post-list">
    {% for post in paginator.posts %}
    {% unless post.draft %}
    <li class="blog-post-list-item">
      <div class="blog-preview-text">
        <h2 class="blog-title">
          <a href="{{ root_url }}{{ post.url }}" class="title">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
        </h2>
        <div class="blog-excerpt">
          {% if post.excerpt %}
          {{ post.excerpt | textilize }}
          {% endif %}
          <a href="{{ post.url }}">Read more...</a>
        </div>
      </div>
      {% if post.index-image-url %}
      <div class="blog-image" style="background-image: url(/mingle{{ post.index-image-url }})"></div>
      {% endif %}
      <hr />
    </li>
    {% endunless %}
    {% endfor %}
  </ul>

  <div class="subscribe-form blog-index">
    <span class="subscribe-text">Want more like this?</span>
    <input type="email" autocapitalize="off" autocorrect="off" name="email" class="subscribe-email" placeholder="Your Email Address">
    <button class="button primary subscribe-submit">Subscribe!</button>
    <div class="success-message">Wahoo! Thanks for subscribing.</div>
    <div class="error-message">Oops! That doesn't look like a valid email.</div>
  </div>
</div>

<div class="banner explore">
  <div class="inner solid">
    <center>
      <h2 class="no-space">Like to know more?</h2>
      <p>Your workflow + Mingle = Awesome</p>
      <a href="/mingle" class="button dark">See more Mingle</a>
    </center>
  </div>
</div>
