@import 'compass';
@import 'compass/reset';
@import 'fonts.css.scss';

@mixin social-icon($icon-name, $color, $hover-color) {
  font-family: "MonoSocial";
  font-style: normal;
  color: $color;
  
  @include transition-property(color);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);
  
  &:hover {
    color: $hover-color;
  };
  
  &:before {
    content: $icon-name;
    display: inline-block;
    
    -webkit-text-rendering: optimizeLegibility;
       -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
         -o-text-rendering: optimizeLegibility;
            text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
            font-smoothing: antialiased;
    
  };
}

#sidebar {
  h1 {
    color: #FFF;
    font-size: 32px;
    line-height: 2.2;
    @include clearfix;
    
    .atom-feed {
      float: right;
      margin-right: 15px;
      @include social-icon("circlerss", darken(rgba(231, 76, 60, 0.9), 10%), #FFF);
    }
  }
  
  #recent_posts {
    li {
      margin: 4px 0;
      padding: 6px 0;
      
      &:before {
        content: '>';
        display: inline-block;
        margin-right: 2px;
        color: #FFF;
      };
    }
  }
}

.posts {
  .post {
    @include box-shadow(0 1px 6px rgba(85, 85, 85, 0.3));
    
    a {
      color: #28F;
      text-decoration: none;
    }    
    
    & ~ .post {
      margin-top: 30px;
    }

    .post-header, .post-content {
      padding: 5px 24px 10px 12px;
    }

    .post-header {
      font-family: 'RobotoThin' Helvetica Arial 'sans serif';
      background-color: #555;
      padding: 12px;
      @include border-radius(2px 2px 0 0);
      
      .title {
        font-size: 32px;
        display: block;
        color: #FFF;
        line-height: 1.5;
      }
    }

    .post-content {
      padding: 0 20px;
      background-color: #FFF;
      @include border-radius(0 0 2px 2px);
      
      p {
        padding: 10px 0;
      }
      
      .screenshot {
        width: 100%;
        margin: 0 auto;
      }
      
      ul {
        margin: 5px 20px;

        li {
          padding: 0 20px;
          
          &:before {
            content: "\0BB \020";
            display: inline-block;
            font-family: 'RobotoBold';
            font-size: 15px;
            color: #333;
            margin-right: 4px;
          };
        }
      }
      
      .youtube-embed {
        padding: 10px;
        margin-top: 20px;
        background-color: rgba(100, 100, 100, 0.7 );
        @include clearfix;
        
        iframe {
          display: block;
          height: 360px;
          width: 640px;
          margin: 0 auto;
        }
      }
    }

    .post-footer {
      border-top: 1px dotted #999;
      padding: 5px;
      background-color: white;
      
      * {
        vertical-align: top;
      }

      .metadata {
        display: inline-block;
        line-height: 32px;
        color: #999;
        font-size: 12px;
        margin-right: 135px;
        
        .author, .date, .tags a {
          color: #555;
          display: inline-block;
        }
      }
      
      .social-likes {
        display: inline-block;
        @include clearfix;
        
        li {
          color: white;
          float: left;
          margin: 0 5px;
          
          span[class*='button_facebook'], span[class*='button_twitter'], span[class*='button_plusone'] {
            font-size: 30px;
            line-height: 30px;
          }
          
          span[class*='button_facebook'] {
            @include social-icon("circlefacebook", #999, #333);
          }

          span[class*='button_twitter'] {
            @include social-icon("circletwitterbird", #999, #333);
          }

          span[class*='button_plusone'] {
            @include social-icon("circlegoogleplus", #999, #333);
          }

          span[class*='counter'] {
            display: none;
          }
        }
      }
    }
  }
}

.pagination {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  padding: 10px;
  background-color: #555;
  @include clearfix;

  .archives {
    display: block;
    width: 60px;
    margin: 0 auto;
  }
  
  .older {
    float: left;
    margin-left: 10px;
  }

  .newer {
    float: right;
    margin-right: 10px;
  }
}
