@import 'compass';
@import 'compass/reset';
@import 'fonts.css.scss';

.posts {
  .post {
    @include box-shadow(0 1px 8px rgba(85, 85, 85, 0.3));
    
    & ~ .post {
      margin-top: 30px;
    }

    .post-header, .post-content {
      padding: 5px 24px 10px 12px;
    }

    .post-header {
      font-family: 'RobotoThin' Helvetica Arial 'sans serif';
      background-color: #555;
      @include border-radius(2px 2px 0 0);

      .title {
        font-size: 32px;
        display: block;
        color: #FFF;
        line-height: 2.2;
      }
    }

    .post-content {
      padding-right: 0;
      padding-left: 0;
      background-color: #FFF;
      @include border-radius(0 0 2px 2px);
      
      p {
        padding: 10px 20px;
      }
      
      .youtube-embed {
        padding: 10px;
        margin-top: 20px;
        background-color: rgba(100, 100, 100, 0.7 );
        @include clearfix;
        
        iframe {
          display: block;
          height: 360px;
          width: 640px;
          margin: 0 auto;
        }
      }
    }

    .post-footer {
      border-top: 1px dotted #999;
      padding: 5px;
      background-color: white;
      
      * {
        vertical-align: top;
      }

      .metadata {
        display: inline-block;
        line-height: 32px;
        color: #999;
        font-size: 12px;
        margin-right: 135px;
        
        .author, .date, .tags a {
          color: #555;
          display: inline-block;
        }
      }
      
      .social-likes {
        display: inline-block;
        @include clearfix;
        
        li {
          color: white;
          float: left;
          margin: 0 5px;
          
          span[class*='button_facebook'], span[class*='button_twitter'], span[class*='button_plusone'] {
            color: #999;
            font-size: 30px;
            line-height: 30px;
            font-style: normal;
            font-family: "MonoSocial";
            
            @include transition-property(color);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease);
            
            &:hover {
              color: #333;
            };
            
            &:before {
              display: inline-block;
              
              -webkit-text-rendering: optimizeLegibility;
                 -moz-text-rendering: optimizeLegibility;
                  -ms-text-rendering: optimizeLegibility;
                   -o-text-rendering: optimizeLegibility;
                      text-rendering: optimizeLegibility;

              -webkit-font-smoothing: antialiased;
                 -moz-font-smoothing: antialiased;
                  -ms-font-smoothing: antialiased;
                   -o-font-smoothing: antialiased;
                      font-smoothing: antialiased;
            };
          }
          
          span[class*='button_facebook'] {
            &:before {
              content: "circlefacebook";
            }
          }

          span[class*='button_twitter'] {
            &:before {
              content: "circletwitterbird";
            }
          }

          span[class*='button_plusone'] {
            &:before {
              content: "circlegoogleplus";
            }
          }

          span[class*='counter'] {
            display: none;
          }
        }
      }
    }
  }
}

.pagination {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  padding: 10px;
  background-color: #555;
  @include clearfix;

  .archives {
    display: block;
    width: 60px;
    margin: 0 auto;
  }
  
  .older {
    float: left;
    margin-left: 10px;
  }

  .newer {
    float: right;
    margin-right: 10px;
  }
}
