@import 'compass';
@import 'compass/reset';
@import 'fonts.css.scss';
@import 'blog.css.scss';
@import 'category.css.scss';

body {
  font-family: 'OpenSansLight',Helvetica,Arial,'sans serif';
  font-size: 15px;
  line-height: 1.8;
  color: #676767;
  background-color: #FEFEFE;

  a {
    color: #333;
    text-decoration: none;
  }

  .site {
    box-sizing: border-box;

    #header, #content {
      margin: 0 auto;
      padding: 0 15px;
    }

    #header {
      padding: 4px 55px 0;
      background-color: #565656;
      @include clearfix;

      .logo {
        float: left;
        height: 38px;
        width: 36px;
        background: url('images/snap-logo-white.png') no-repeat 0 0;
        background-size: 126px;
      }

      .header-actions {
        float: right;
        font-size: 13px;
        letter-spacing: 1px;
        @include clearfix;

        .docs, .blogs, .login {
          color: #EEE;
          float: right;
          font-size: 16px;
          margin-left: 20px;
          padding: 8px;
          text-align: center;
        }
      }
    }

    #content {
      font-family: 'RobotoLight',Helvetica,Arial,'sans serif';
      margin: 0 40px;
      @include clearfix;

      #main {
        float: left;
        width: 66%;
      }

      #sidebar {
        position: fixed;
        top: 70px;
        right: 0;
        float: right;
        width: 25%;
        padding-right: 15px;
        margin-right: 55px;
        font-family: 'RobotoLight' Helvetica Arial 'sans serif';
        @include border-radius(2px);

        h1 {
          font-family: 'RobotoThin' Helvetica Arial 'sans serif';
        }
      }
    }

    #footer {
      margin-top: 20px;
    }
  }
}

@import 'responsive.css.scss';
