@import 'compass';
@import 'compass/reset';
@import "bourbon";
@import "base/base";
@import "neat";
@import 'fonts.css.scss';
@import 'blog.css.scss';
@import 'category.css.scss';

//body {
//  font-family: 'OpenSansLight',Helvetica,Arial,'sans serif';
//  font-size: 15px;
//  line-height: 1.8;
//  color: #676767;
//  background-color: #FEFEFE;
//
//  a {
//    color: #333;
//    text-decoration: none;
//  }
//
//  .site {
//    box-sizing: border-box;
//
//    #header, #content {
//      margin: 0 auto;
//      padding: 0 15px;
//    }
//
//    #header {
//      padding: 4px 55px 0;
//      background-color: #565656;
//      @include clearfix;
//
//      .logo {
//        float: left;
//        height: 38px;
//        width: 36px;
//        background: url('images/snap-logo-white-square-no-text@2x.png') no-repeat 0 0;
//        background-size: 100%;
//      }
//
//      .header-actions {
//        float: right;
//        font-size: 13px;
//        letter-spacing: 1px;
//        @include clearfix;
//
//        .docs, .blogs, .login {
//          color: #EEE;
//          float: right;
//          font-size: 16px;
//          margin-left: 20px;
//          padding: 8px;
//          text-align: center;
//        }
//      }
//    }
//
//    #content {
//      font-family: 'RobotoLight',Helvetica,Arial,'sans serif';
//      margin: 0 40px;
//      @include clearfix;
//
//      #main {
//        float: left;
//        width: 66%;
//      }
//
//      #sidebar {
//        position: fixed;
//        top: 70px;
//        right: 0;
//        float: right;
//        width: 25%;
//        padding-right: 15px;
//        margin-right: 55px;
//        font-family: 'RobotoLight' Helvetica Arial 'sans serif';
//        @include border-radius(2px);
//
//        h1 {
//          font-family: 'RobotoThin' Helvetica Arial 'sans serif';
//        }
//      }
//    }
//
//    #footer {
//      margin-top: 20px;
//    }
//  }
//}
//
//@import 'responsive.css.scss';

/* Clean everything up to here */

body.main {
  &#content {
    @include outer-container;
  }

  footer {
    background-color: lightgray;
  }

  #hero {
    @include span-columns(12);
    font-size: 4em;
    color: #5d5d5d;

    h1 {
      font-size: 0.70em;
      text-align: center;
      margin: 0 auto .4em;
      font-weight: 500;
    }

    h3 {
      @include span-columns(8);
      @include shift(2);
      font-size: 0.33em;
      line-height: 1.5;
      font-weight: 300;
      /*margin: 0 auto 2em;*/
    }

    .team-hero-bg {
      @include background(image-url('team/abstract-team-hero.svg'));
      position: relative;
      background-size: cover;
      padding: 2em 0 4em;
      margin-bottom: -1.5em;
    }
  }

  .team-members {

    width: 100%;
    margin-top: -1em;
    float: left;

    .team-members-list {
      @include span-columns(8 of 12);
      @include shift(2);

      $column_small_screen_width: 17em;

      .now-hiring {
        @include fill-parent;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: auto;
        margin-right: auto;
        background-image: image_url('team/oh-snap-hiring.jpg');
        width: $column_small_screen_width;
        @include media($medium-screen) {
          width: 100%;
        }

        .oh-snap {
          @include background(image-url('team/o_snap_white.svg') no-repeat);
          line-height: 3;
          text-align: center;
          color: white;
          background-position: top;
          background-size: 9.5em;
          font-size: 2em;
          font-weight: 300;
          padding-top: 3em;
          margin-bottom: 0;

          a {
            color: white;
          }
        }
      }

      .team-row {
        @include media($medium-screen) {
          @include span-columns(8 of 8);
          @include fill-parent;
          @include row(table);
        }

        .member {
          @include media($medium-screen) {
            @include span-columns(2);
          }
          position: relative;
          height: 13em;
          background-size: cover;
          background-position: center;
          overflow: hidden;
          width: $column_small_screen_width;
          margin: auto;
          margin-bottom: 1px;

          & + .member {
            border-left: 1px solid white;
          }

          &.akshay {
            background-image: image-url('profilepics/akshay.jpg');
          }
          &.andrei {
            background-image: image-url('profilepics/andrei.jpg');
          }
          &.badri {
            background-image: image-url('profilepics/badri.jpg');
          }
          &.elly {
            background-image: image-url('profilepics/elly.jpg');
          }
          &.fernando {
            background-image: image-url('profilepics/fernando.jpg');
          }
          &.henrique {
            background-image: image-url('profilepics/henrique.jpg');
          }
          &.jen {
            background-image: image-url('profilepics/jen.jpg');
          }
          &.you {
            background-image: image-url('profilepics/you.jpg');
          }

          .profile {
            @include fill-parent;
            position: absolute;
            bottom: -0em;
            height: 3.5em;
            color: white;
            padding: 2px 8px;
            background-color: $transparent-smoke;

            @include media($large-screen) {
              bottom: -3.5em;
              opacity: 0;
            }
          }

          @include media($large-screen) {
            &:hover {
              .profile {
                @include transform(translateY(-3.5em));
                @include transition(opacity 0.3s ease, transform 0.3s ease);
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .positions {
    @include span-columns(12);
    background-color: lightgray;

    .open-positions {
      @include span-columns(10 of 12);
      @include shift(1);
      font-size: 4em;
      margin-top: 2em;

      @include media($large-screen){
        font-size: 4em;
        h1 {
          font-size: 1em;
        }
      }

      h1 {
        @include span-columns(10 of 10);
        font-weight: 300;
        font-size: 0.75em;
        text-align: center;
        margin-bottom: 0.3em;
      }

      h3 {
        font-size: 0.33em;
        line-height: 1.5;
        font-weight: 300;
        width: 80%;
        margin: 0 auto 2em;
      }

      .location {
        @include span-columns(10 of 10);
        padding-top: 0.5em;
        font-weight: 300;

        &.san-francisco {
          .pretty-picture {
            @include background(image-url('locations/gg.jpg') no-repeat);
            background-position: 50%;
            background-size: cover;
          }
        }

        &.recife {
          .pretty-picture {
            @include background(image-url('locations/recife.jpg') no-repeat);
            background-position: 50%;
            background-size: cover;
          }
        }

        .pretty-picture {
          background-position: 50%;
          background-size: cover;
          font-size: 0.75em;
          line-height: 1.33;
          padding: 0.5em;
          text-align: center;
          color: white;
        }

        .listing {
          margin-top: 2em;
          font-size: 0.25em;

          li {
            .role {
              font-size: 2em;
              margin-bottom: 0.33em;
            }

            & ~ li {
              margin-top: 2em;
            }
          }
        }
      }
    }
  }
}
