body.main {
  &#content {
    @include outer-container;
  }

  footer {
    background-color: lightgray;
  }

  #hero {
    @include span-columns(12);
    font-size: 4em;
    color: #5d5d5d;

    h1 {
      font-size: 0.70em;
      text-align: center;
      margin: 0 auto .4em;
      font-weight: 500;
    }

    h3 {
      @include span-columns(8);
      @include shift(2);
      font-size: 0.33em;
      line-height: 1.5;
      font-weight: 300;
    }

    .home-hero-bg {
      @include background(image-url('/images/main/abstract-home-hero.svg'));
      position: relative;
      background-size: cover;
      padding: 2em 0 2em;
      margin-bottom: -1.5em;
    }
  }
}
