---
layout: default
---
<div class="category-heading"> 
  <h1>{{ page.title }}</h1>
  <a href="/">Show all posts</a>
</div>

<div id="blog-archives" class="category">
{% for post in page.posts_to_render %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  {% unless post == page.posts_to_render.first %}
    </div> <!--End articles-->
    </div> <!--End annual archive-->
  {% endunless %}
  <div class="annual-archive">
  <h2>{{ year }}</h2>
  <div class="articles">
{% endunless %}
<article>
  <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
    {{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}
  </time>
  <div class="excerpt">
    <h3><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h3>
    <p>{{ post.content | truncatewords: 35 }}</p>
  </div>
</article>
{% if post == page.posts_to_render.last %}
  </div> <!--End last articles-->
  </div> <!--End last annual archive-->
{% endif %}
{% endfor %}
</div>