---
layout: blog
---
<div class="posts">
  <div class="post">
    <div class="post-header">
      <a href="{{ page.url }}" class="title">{{ page.title }}</a>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
    <div class="post-footer">
      <div class="metadata">
        Posted by <span class="author">{{ page.author }}</span> on <span class="date">{{ page.date | date_to_string }}</span>. <span class="tags">Tagged: {{ page.categories | category_links }}</span>
      </div>
      <ul class="social-likes" data-url="{{ post.url }}" data-title="{{ post.title }}" data-counters="false">
      	<li class="facebook" title="Share link on Facebook"></li>
      	<li class="twitter" title="Share link on Twitter"></li>
      	<li class="plusone" title="Share link on Google+"></li>
      </ul> 
    </div>
  </div>
</div>